.concert {
    float: left;
    padding-right: 70px;
    margin-left: 8rem;

    .upcoming {
        margin-left: 2px;
    }

    h3 {
        color: #333333;
        font-family: Oswald, sans-serif;
        font-size: 22px;
        font-weight: 500;
        line-height: 30px;
    }
}

.concert-ticket {
    padding-top: 10rem;

    dl {
        overflow: hidden;
        padding: 0;
        margin: 0 0 30px;

        dt {
            float: left;
            clear: left;
            margin-top: 0;

            dd {
                margin: 0 0 15px 60px;
                &:before {
                    display: inline-block;
                    margin: 0 5px;
                    content: ":";
                }
            }
        }
    }
}

.video {
    float: right;
    margin-top: -27rem;
    margin-right: 8rem;

    .right {
        margin-top: 50px;
        margin-left: 20px;
    }
}