@font-face {
    font-family: 'DroidSans';
    src: url('/fonts/DroidSans.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DroidSans.woff') format('woff'),
    url('/fonts/DroidSans.ttf') format('truetype'),
    url('/fonts/DroidSans.svg#DroidSans') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSans';
    src: url('/fonts/DroidSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DroidSans-Bold.woff') format('woff'),
    url('/fonts/DroidSans-Bold.ttf') format('truetype'),
    url('/fonts/DroidSans-Bold.svg#DroidSans-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-Heavy';
    src: url('/fonts/Oswald-Heavy.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Oswald-Heavy.woff') format('woff'),
    url('/fonts/Oswald-Heavy.ttf') format('truetype'),
    url('/fonts/Oswald-Heavy.svg#Oswald-Heavy') format('svg');
    font-weight: 400;
    font-style: normal;
}